<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="skappConnect">
    <table class="table table-striped">
      <thead>
        <tr>      
          <th></th>
          <th>App</th>
          <th>Data</th>
          <th>Administrador</th>
          <th>#</th>
        </tr>
      </thead>
      <tbody>        
        <tr ng-repeat="app in apps">
          <td><img src="{{url}}images/{{app.image}}"/></td>
          <td>{{app.name}}</td>
          <td><button ng-click=connectapp()  class="btn btn-primary" role="button">Conectar</button>
	          <button ng-click=viewFilesapp()  class="btn btn-primary" role="button">Veure arxius</button>
              <button ng-click=removeApp()  class="btn btn-danger" role="button">Esborrar</button>
          </td>
          <td></td>
          <td></td>      
        </tr>                
      </tbody>                      
    </table>
   <div class="row">
    	<div class="col-md-2" ng-repeat="file in files"><a ng-href="{{file.alternateLink}}" target="_blank"><img src="{{file.thumbnailLink}}"/>{{file.title}}</a></div>
    </div>
</div>
